.main__landing {
    /* border: 1px solid darkred; */
    width: 55vw;
    float: left;
    margin-left: 30vw;
    margin-top: 12vh;
    
}

.tagline__1 {
    /* border: 1px solid darkred; */
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    color: rgb(70, 70, 70);
    font-size: 4vw;
    text-align: left;
    line-height: 1;
}

.tagline__1 span {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 4.5vw;
    color: black;
}

.tagline__2 {
    /* border: 1px solid darkred; */
    font-family: 'Montserrat', serif;
    font-weight: 600;
    /* font-style: italic; */
    color: black;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.3;
    width:20vw;
    margin-top: 6vh;
}

.main__landing .button1 {
    /* border: 1px solid darkred; */
    float: left;
    margin-top: 1vh;

}

.main__landing button {
    width: 10rem;
    height: 5vh;

}